// Colores
$color-principal: #fd7e14;
$color-principal-hover: hsla(21, 100%, 50%, 0.801);
$color-negro: black;
$color-blanco: white;
$color-verde: #1db954;
// Fuentes
$font-estandar: 'Roboto', sans-serif;
$font-radio: 'Bebas Neue', sans-serif;
$font-titulos: 'Archivo Black', sans-serif;
$font-cuerpos: 'Figtree', sans-serif;
