@use '../variables/variables';

@media screen and (min-width: 1200px) {
    // Variables
    $font-size: 20px;

    body {
        font-size: $font-size;
        background-color: cadetblue;
    }

    // #region header
    header {
        height: 15vh;
        background-color: variables.$color-negro;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            flex: 10%;
            display: flex;
            justify-content: center;
        }
        .logo {
            img {
                width: 90%;
            }
        }
        .contacto {
            img {
                width: 50%;
            }
        }
        // #region navbar
        nav {
            flex: 80%;

            ul {
                list-style: none;
                display: flex;
                justify-content: space-evenly;

                li {
                    a {
                        text-align: center;
                        text-decoration: none;
                        font-size: 2.5rem;
                        font-family: variables.$font-radio;
                        color: variables.$color-blanco;

                        &:hover {
                            color: variables.$color-principal-hover;
                        }
                    }
                }
            }
        }
        // #endregion navbar
    }
    // #endregion header

    section {
        height: 85vh;
        border: 1px solid black;
    }
    // #region banner
    #banner {
        background-image: url(../img/banner.jpg);
        background-size: cover;
        background-position: center;

        display: flex;
        align-items: center;
        justify-content: end;

        #banner-text {
            margin-right: 5%;
            width: 40%;
            // height: 55%;
            text-align: center;
            color: white;
            text-shadow: 0.1875rem 0.1875rem 0.25rem variables.$color-principal;

            /* From https://css.glass */
            background: rgba(0, 0, 0, 0.34);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4.5px);
            -webkit-backdrop-filter: blur(4.5px);

            h1 {
                font-size: 3.5rem;
                font-family: variables.$font-radio;
                margin: 5% 2%;
            }
            p {
                font-size: 2.7rem;
                font-family: variables.$font-cuerpos;
                margin: 5% 5%;
            }
        }
    }
    // #endregion banner

    #divider-1 {
        position: absolute;
        bottom: 0;
    }

    // #region top
    #top {
        height: auto;
        margin: 0 2%;

        h1 {
            font-family: variables.$font-radio;
            font-size: 3rem;
            color: variables.$color-negro;
            text-align: center;
            margin: 2rem;
        }

        #top-container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 2rem;
            grid-auto-rows: minmax(100px, auto);

            .top-card {
                background-color: variables.$color-negro;
                border-radius: 5%;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    border-radius: 2.5%;
                    margin: 5% 0;
                    width: 80%;
                }
                .text-top-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h2,
                    p,
                    a {
                        font-family: variables.$font-radio;
                        color: variables.$color-blanco;
                        text-align: center;
                        align-items: center;
                    }
                    h2 {
                        font-size: 3rem;
                    }
                    p {
                        font-size: 2.5rem;
                    }
                    a {
                        font-size: 2rem;
                        text-decoration: none;
                        border-radius: 5%;
                        padding: 1rem;
                        background-color: variables.$color-verde;
                        margin-bottom: 5%;
                    }
                }
            }
        }
    }
    // #endregion top
}
