// #region variables
// Colores
$color-principal: #fd7e14;
$color-principal-hover: hsla(21, 100%, 50%, 0.801);
$color-negro: black;
$color3: #9f956c;
$color4: #cbbf7a;
$color5: #f4e87c;

// Fuentes
$font-estandar: 'Roboto', sans-serif;
$font-radio: 'Bebas Neue', sans-serif;
$font-size: 16px;
// #endregion variables

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: $font-size;
    font-family: $font-estandar;
    scroll-behavior: smooth;
}

// #region navbar
header {
    height: 12vh;
    background-color: $color-negro;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;

    .logo,
    .contacto {
        display: flex;
        padding: 0 2vw;

        &.logo {
            height: 12vh;
        }
        &.contacto {
            height: 8vh;
        }
    }

    nav {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;

            a {
                display: flex;
                text-decoration: none;
                font-family: $font-radio;
                font-size: 2rem;
                color: white;

                padding: 1.8rem;
                border-radius: 1rem;

                &:hover {
                    background-color: $color-principal-hover;
                }
            }
        }
    }
}
// #endregion navbar

// #region banner
#banner {
    height: 85vh;
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: end;

    #banner-text {
        width: 50%;
        height: 70%;
        background-color: white;
        margin-right: 5%;
        font-family: $font-estandar;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2%;

        // Glass effect
        h1 {
            font-size: 48px;
            margin-bottom: 10%;
        }
        p {
            font-size: 28px;
            margin: 0 7%;
        }
    }
}

// #endregion banner

section {
    height: 100vh;
    width: 100%;
    background-color: yellow;
    border: 1px solid black;
    scroll-margin-top: 15vh;
}
