* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    height: 20vh;
    width: 100%;
    background-color: blue;
}
header {
    height: 80vh;
    width: 100%;
    background-color: green;
}
section {
    height: 100vh;
    width: 100%;
    background-color: yellow;
    border: 1px solid black;
}
