// #region variables
// Colores
$color-principal: #fd7e14;
$color-principal-hover: hsla(21, 100%, 50%, 0.801);
$color-negro: black;
$color-blanco: white;
// $color3: #9f956c;
// $color4: #cbbf7a;
$color5: #f4e87c;

// Fuentes
$font-estandar: 'Roboto', sans-serif;
$font-radio: 'Bebas Neue', sans-serif;
$font-titulos: 'Archivo Black', sans-serif;
$font-cuerpos: 'Figtree', sans-serif;
$font-size: 16px;

// Tamaños
$heigt-navbar: 12vh;
// #endregion variables

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: $font-size;
    font-family: $font-estandar;
    scroll-behavior: smooth;
}

// #region navbar
header {
    height: $heigt-navbar;
    background-color: $color-negro;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    .logo,
    .contacto {
        display: flex;
        padding: 0 2vw;

        &.logo {
            height: 12vh;
        }
        &.contacto {
            height: 8vh;
        }
    }

    nav {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;

            a {
                display: flex;
                text-decoration: none;
                font-family: $font-radio;
                font-size: 2rem;
                color: white;

                padding: 1.8rem;
                border-radius: 1rem;

                &:hover {
                    background-color: $color-principal-hover;
                }
            }
        }
    }
}
// #endregion navbar

// #region banner
#banner {
    height: 88vh;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: end;

    #banner-text {
        width: 30%;
        height: 60%;
        margin-right: 5%;

        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // text-align: center;
        padding: 2.5rem;
        color: $color-blanco;
        text-shadow: 0.125rem 0.125rem 0.3125rem $color-principal;

        h1 {
            font-size: 3rem;
            font-family: $font-titulos;
            margin-bottom: 3rem;
        }
        p {
            height: auto;
            font-size: 2rem;
            font-family: $font-cuerpos;
        }

        // Glass effect
        /* From https://css.glass */
        background: rgba(0, 0, 0, 0.34);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.5px);
        -webkit-backdrop-filter: blur(4.5px);
    }
}
// #endregion banner
#divider-1 {
    position: absolute;
    top: 34rem;
}
#divider-2 {
    position: absolute;
    top: 120rem;
    z-index: -10;
}
section {
    height: 100vh;
    border: 1px solid black;
    scroll-margin-top: $heigt-navbar;
}

// #region top canciones
#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: $color-principal;

    h1 {
        font-family: $font-radio;
        font-size: 3rem;
        color: $color-negro;
        margin: 2rem;
    }
    #top-container {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        width: 50%;

        .top-card {
            display: flex;
            background-color: #090504;
            height: 80%;
            width: 90%;
            border: 1px solid black;
            box-shadow: 10px 10px 5px hsla(0, 0%, 0%, 0.3);

            img {
                height: 8.3rem;
            }

            .text-top-card {
                margin: 0.2em 0 0 1.5em;
                h2,
                p {
                    font-family: $font-titulos;
                    font-size: 1.2em;
                    color: white;
                }
                a {
                    font-family: $font-estandar;
                    display: inline-block;
                    background-color: green;
                    border-radius: 5%;
                    text-decoration: none;
                    padding: 1em;
                    color: $color-blanco;
                    margin-top: 1em;
                }
            }
        }
    }
}
// #endregion top canciones

#btn-ir-arriba {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    background: $color-principal;
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    border: none;

    box-shadow: 2px 12px 4px rgba(0, 0, 0, 0.2);
    transition: 300ms ease;
    z-index: 1000;
}
